<tui-island *ngIf="reservation" class="p-0 transition-all">
  <div class="grid grid-cols-5">
    <tui-carousel [draggable]="true" [(index)]="imageIndex" class="-mx-5 col-span-2">
      <ng-container *ngFor="let photo of reservation[flatField].photos; let i = index">
        <img
          *tuiItem
          draggable="false"
          src="/api/photos/flat/{{ reservation[flatField].id }}/{{ photo }}"
          class="h-full object-cover rounded-xl aspect-video"
          [class.item_active]="i === imageIndex + 1"
        />
      </ng-container>
    </tui-carousel>
    <div class="col-span-2 flex flex-col justify-between p-4">
      <div>
        <a [routerLink]="['/flat/card', reservation[flatField].id]" target="_blank" class="block font-semibold">
          {{ reservation[flatField].name }}
        </a>
        <tui-tag
          *ngIf="reservation.sharedFlat && showShared"
          status="primary"
          class="tag"
          [hoverable]="true"
          value="Обмен"
        ></tui-tag>
      </div>
      <div>{{ reservation.from | date : 'dd.MM.yyyy' }} - {{ reservation.to | date : 'dd.MM.yyyy' }}</div>
      <div class="flex gap-x-6">
        <div>
          <div class="text-gray-500">Площадь</div>
          <div>{{ reservation[flatField].square | number }} м²</div>
        </div>
        <div>
          <div class="text-gray-500">Комнат</div>
          <div>{{ reservation[flatField].rooms | number }}</div>
        </div>
      </div>
      <div class="text-gray-500">{{ reservation[flatField].city.name }}, {{ reservation[flatField].address }}</div>
    </div>
    <div *ngIf="!reservation.sharedFlat" class="col-span-1 p-4 border-l h-full flex flex-col justify-between">
      <div class="flex items-center"></div>
      <div class="text-right">
        <div>
          <span class="font-bold text-lg">{{ reservation[flatField].price | number }} ₽</span>
          <span class="ml-3 text-gray-500">за сутки</span>
        </div>
        <div class="text-gray-500">Всего {{ reservationFullPrice(reservation) | number }} ₽</div>
      </div>
    </div>
  </div>
</tui-island>
