<div
  class="w-screen h-screen flex justify-center items-center bg-gradient-to-r from-cyan-500 to-blue-500"
>
  <tui-island class="p-8">
    <h1 class="text-5xl mb-12 text-center text-gray-700 font-bold">
      Share Flat
    </h1>
    <form>
      <tui-input>
        Email
        <input tuiTextfield type="email" />
      </tui-input>
      <tui-input class="mt-4">
        Password
        <input tuiTextfield type="password" />
      </tui-input>

      <button tuiButton type="button" class="mt-6 w-full">Login</button>
    </form>
  </tui-island>
</div>
