<h2 class="tui-text_h2 text-center mb-6">Вход</h2>
<form [formGroup]="form" (ngSubmit)="login()">
  <tui-input formControlName="email">
    Email
    <input tuiTextfield type="email" />
  </tui-input>
  <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-input formControlName="password" class="mt-4">
    Пароль
    <input tuiTextfield type="password" />
  </tui-input>
  <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>

  <button tuiButton type="submit" class="mt-6 w-full" [showLoader]="(loading$ | async) === true" (click)="login()">
    Войти
  </button>
</form>
