<nav tuiMode="onDark" class="flex justify-between px-6 py-3 bg-neutral-800">
  <a routerLink="/" class="text-3xl text-white font-bold">
    <span class="text-blue-300">S</span>
    <span>hare</span>
    <span class="text-blue-300">F</span>
    <span>lat</span>
  </a>
  <div class="flex justify-end items-center">
    <a routerLink="/favorites" class="flex items-center text-white pr-2">
      <tui-svg src="tuiIconHeart" class="icon"></tui-svg>
      <span class="ml-1">Избранное</span>
    </a>
    <a routerLink="/reservations" class="flex items-center text-blue-300 font-bold ml-4">
      <tui-svg src="tuiIconCalendar" class="icon"></tui-svg>
      <span class="ml-1">Мои бронирования</span>
    </a>

    <div class="flex justify-center items-center">
      <button tuiButton size="s" appearance="outline" type="button" icon="tuiIconLogIn" class="ml-8">Войти</button>
    </div>
  </div>
</nav>

<div class="p-6">
  <router-outlet></router-outlet>
</div>
