<nav tuiMode="onDark" class="flex flex-wrap justify-between px-6 py-3 bg-neutral-800">
  <a routerLink="/" class="text-3xl text-white font-bold">
    <span class="text-blue-400">S</span>
    <span>hare</span>
    <span class="text-blue-400">F</span>
    <span>lat</span>
  </a>
  <div class="flex flex-wrap justify-end items-center">
    <a routerLink="/flat/add" routerLinkActive="text-blue-400 font-bold" class="flex items-center text-white pr-2">
      <tui-svg src="tuiIconPlus" class="icon"></tui-svg>
      <span class="ml-1">Разместить объявление</span>
    </a>

    <ng-container *ngIf="user$ | async">
      <a
        routerLink="/favorites"
        routerLinkActive="text-blue-400 font-bold"
        class="flex items-center text-white pr-2 ml-4"
      >
        <tui-svg src="tuiIconHeart" class="icon"></tui-svg>
        <span class="ml-1">Избранное</span>
      </a>
      <a
        routerLink="/reservations"
        routerLinkActive="text-blue-400 font-bold"
        class="flex items-center text-white ml-4"
      >
        <tui-svg src="tuiIconCalendar" class="icon"></tui-svg>
        <span class="ml-1">Мои бронирования</span>
      </a>
    </ng-container>

    <sf-user-menu></sf-user-menu>
  </div>
</nav>

<div class="p-6">
  <router-outlet></router-outlet>
</div>
