<div class="ml-8">
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <a routerLink="/lk">
      <div class="flex items-center">
        <tui-avatar [text]="user.firstName" size="s"></tui-avatar>
        <div class="text-white text-xs ml-2">
          <p>{{ user.firstName }}</p>
          <p>{{ user.lastName }}</p>
        </div>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          type="button"
          icon="tuiIconLogOut"
          class="ml-3"
          (click)="logout()"
        ></button>
      </div>
    </a>
  </ng-container>

  <ng-template #loginButton>
    <sf-login-button #logBtn>
      <button tuiButton size="s" appearance="outline" type="button" icon="tuiIconLogIn" (click)="logBtn.showDialog()">
        Войти
      </button>
    </sf-login-button>
  </ng-template>
</div>
