<h3 class="tui-text_h3 text-center mb-6">Редактирование профиля</h3>
<form [formGroup]="form">
  <tui-input formControlName="firstName" class="mt-4">
    Имя
    <input tuiTextfield type="text" />
  </tui-input>
  <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-input formControlName="lastName" class="mt-4">
    Фамилия
    <input tuiTextfield type="text" />
  </tui-input>
  <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-input formControlName="middleName" class="mt-4">
    Отчество
    <input tuiTextfield type="text" />
  </tui-input>
  <tui-error formControlName="middleName" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-input-date formControlName="birthDate" toNativeDate class="mt-4"> Дата рождения</tui-input-date>
  <tui-error formControlName="birthDate" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-input-phone formControlName="phone" class="mt-4">
    Номер телефона
    <input tuiTextfield autocomplete="tel" />
  </tui-input-phone>
  <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"></tui-error>

  <button tuiButton type="button" class="mt-6 w-full" [showLoader]="(loading$ | async) === true" (click)="save()">
    Сохранить
  </button>
</form>
