<div *ngIf="reservation">
  <h2 class="tui-text_h2">Бронирование №{{ reservation.id }}</h2>

  <div class="grid grid-cols-4 mt-6 gap-2">
    <div class="col-span-3">
      <sf-reservation-island [reservation]="reservation"></sf-reservation-island>
    </div>
    <div class="col-span-1 flex flex-col flex-1">
      <tui-island class="h-full">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconUser" class="icon text-blue-400"></tui-svg>
          Собственник
        </h3>

        <div class="text-lg font-medium">
          {{ reservation.flat.user.firstName }} {{ reservation.flat.user.lastName }}
        </div>
        <div class="text-gray-500">На сайте с {{ reservation.flat.user.created | date : 'dd.MM.yyyy' }}</div>

        <div class="mt-10">
          <a *ngIf="reservation.flat.user.phone as phone" href="tel:{{ phone }}">
            <button tuiButton type="button" class="w-full" icon="tuiIconPhone">
              {{ phone | tuiFormatPhone }}
            </button>
          </a>
        </div>
      </tui-island>
    </div>

    <ng-container *ngIf="reservation.sharedFlat">
      <div class="col-span-4 flex justify-center items-center py-3">
        <tui-svg src="tuiIconRefreshCcwLarge" class="refresh-icon"></tui-svg>
        <span class="text-lg ml-2">Обмен</span>
      </div>
      <div class="col-span-3">
        <sf-reservation-island [reservation]="reservation" flatField="sharedFlat"></sf-reservation-island>
      </div>
      <div class="col-span-1 flex flex-col flex-1">
        <tui-island class="h-full">
          <h3 class="tui-island__title flex items-center">
            <tui-svg src="tuiIconUser" class="icon text-blue-400"></tui-svg>
            Собственник
          </h3>

          <div class="text-lg font-medium">
            {{ reservation.sharedFlat.user.firstName }} {{ reservation.sharedFlat.user.lastName }}
          </div>
          <div class="text-gray-500">На сайте с {{ reservation.sharedFlat.user.created | date : 'dd.MM.yyyy' }}</div>

          <div class="mt-10">
            <a *ngIf="reservation.sharedFlat.user.phone as phone" href="tel:{{ phone }}">
              <button tuiButton type="button" class="w-full" icon="tuiIconPhone">
                {{ phone | tuiFormatPhone }}
              </button>
            </a>
          </div>
        </tui-island>
      </div>
    </ng-container>

    <ng-container *ngIf="currentUser">
      <div class="col-span-3">
        <tui-island class="mt-4">
          <h3 class="tui-island__title flex items-center">
            <tui-svg src="tuiIconMessageSquare" class="icon text-blue-400"></tui-svg>
            Сообщения
          </h3>

          <div class="overflow-auto flex flex-col" style="height: 450px">
            <div
              *ngFor="let message of messages | tuiMapper : mapper"
              [ngClass]="message.user.id === currentUser.id ? 'bg-blue-100 self-end' : 'bg-gray-100 self-start'"
              class="bg-blue-100 rounded-md p-3 mt-4"
              style="max-width: 60%"
            >
              <div>
                <div class="font-bold">{{ message.user.firstName }} {{ message.user.lastName }}</div>
                <div class="text-gray-500">{{ message.date | date : 'dd.MM.yyyy HH:mm' }}</div>
              </div>
              <div class="mt-3">{{ message.text }}</div>
            </div>
          </div>

          <div class="flex items-end mt-4 gap-2">
            <tui-text-area [formControl]="messageControl" class="flex-1" style="min-height: 3.5rem" [expandable]="true">
              Введите сообщение
            </tui-text-area>
            <button
              tuiButton
              type="button"
              icon="tuiIconSend"
              [disabled]="messageControl.invalid"
              (click)="sendMessage()"
            >
              Отправить
            </button>
          </div>
        </tui-island>
      </div>

      <tui-island *ngIf="reservationEnded" class="mt-4">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconThumbsUp" class="icon text-blue-400"></tui-svg>
          Ваш отзыв
        </h3>

        <div class="mt-4">
          <ng-container *ngIf="currentUserReview; else reviewFormTemplate">
            <div class="text-gray-500">{{ currentUserReview.created | date : 'dd.MM.yyyy HH:mm' }}</div>
            <div class="mt-3">
              <tui-rating class="text-yellow-400" [(ngModel)]="currentUserReview.rating" [readOnly]="true"></tui-rating>
            </div>
            <div class="mt-2">{{ currentUserReview.text }}</div>
          </ng-container>
          <ng-template #reviewFormTemplate>
            <form [formGroup]="reviewForm">
              <tui-rating class="text-yellow-400" formControlName="rating"></tui-rating>

              <tui-text-area formControlName="text" [expandable]="true" class="mt-2"> Отзыв...</tui-text-area>

              <button
                tuiButton
                type="button"
                appearance="outline"
                [disabled]="reviewForm.invalid"
                class="w-full mt-4"
                (click)="addReview()"
              >
                Оставить отзыв
              </button>
            </form>
          </ng-template>
        </div>
      </tui-island>
    </ng-container>
  </div>
</div>
