<ng-container *ngIf="flat$ | async as flat">
  <h1 class="tui-text_h1 flex justify-between items-center">
    {{ flat.name }}
    <button
      *ngIf="isOwnFlat$ | async"
      tuiButton
      routerLink="/flat/edit/{{ flat.id }}"
      type="button"
      size="m"
      appearance="flat"
      icon="tuiIconEdit2"
    >
      Редактировать
    </button>
  </h1>

  <div class="mt-3">
    <div class="flex items-center">
      <tui-svg src="tuiIconStar" class="icon text-blue-400"></tui-svg>
      <div class="font-bold">{{ reviewsRating$ | async | number : '.0-1' }}</div>
      <div class="ml-4">Отзывов: {{ reviewsCount$ | async | number }}</div>

      <tui-svg src="tuiIconHome" class="icon text-blue-400 ml-6"></tui-svg>
      <div>{{ flat.address }}</div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-2 mt-10">
    <div class="col-span-2">
      <tui-carousel [draggable]="true" [(index)]="imageIndex" class="-mx-5">
        <ng-container *ngFor="let photo of flat.photos; let i = index">
          <img
            *tuiItem
            draggable="false"
            src="/api/photos/flat/{{ flat.id }}/{{ photo }}"
            class="h-full object-cover rounded-xl aspect-video"
            [class.item_active]="i === imageIndex + 1"
          />
        </ng-container>
      </tui-carousel>

      <tui-pagination size="s" class="my-4" [length]="flat.photos.length" [(index)]="imageIndex"></tui-pagination>

      <tui-island class="mt-5">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconClipboard" class="icon text-blue-400"></tui-svg>
          Описание
        </h3>

        <div class="flex gap-x-10">
          <div>
            <div class="font-semibold">Площадь</div>
            <div>{{ flat.square | number }} м²</div>
          </div>
          <div>
            <div class="font-semibold">Кол-во комнат</div>
            <div>{{ flat.rooms | number }}</div>
          </div>
          <div>
            <div class="font-semibold">Этаж</div>
            <div>{{ flat.floor }} из {{ flat.floors }}</div>
          </div>
          <div>
            <div class="font-semibold">Гостей</div>
            <div>до {{ flat.guests | number }}</div>
          </div>
        </div>
        <p class="tui-island__paragraph mt-4">{{ flat.description }}</p>
      </tui-island>

      <tui-island class="mt-5">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconWifi" class="icon text-blue-400"></tui-svg>
          Основные удобства
        </h3>
        <div class="grid grid-cols-2 gap-y-3">
          <div *ngFor="let prop of flat.propertyValues | tuiFilter : propFilter">{{ prop.property.name }}</div>
        </div>
      </tui-island>

      <ng-container *ngIf="reviews$ | async as reviews">
        <ng-container *ngIf="reviews.length">
          <tui-island class="mt-5">
            <div class="flex justify-between">
              <h3 class="tui-island__title flex items-center">
                <tui-svg src="tuiIconThumbsUp" class="icon text-blue-400"></tui-svg>
                Отзывы
              </h3>
              <div class="flex items-center">
                <tui-svg src="tuiIconStar" class="icon text-blue-400"></tui-svg>
                <div class="font-bold">{{ reviewsRating$ | async | number : '.0-1' }}</div>
                <div class="ml-4">Отзывов: {{ reviews.length | number }}</div>
              </div>
            </div>
            <div *ngFor="let review of reviews" class="py-4 border-b last:border-0">
              <div class="flex justify-between">
                <div>
                  <div class="font-bold">{{ review.user.firstName }}</div>
                  <div class="text-gray-500">{{ review.created | date : 'dd.MM.yyyy HH:mm' }}</div>
                </div>
                <div class="flex items-center">
                  <tui-svg src="tuiIconStarLarge" class="icon text-blue-400"></tui-svg>
                  <span class="ml-2 text-xl font-bold">{{ review.rating }}</span>
                </div>
              </div>
              <div class="mt-3">{{ review.text }}</div>
            </div>
          </tui-island>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="(isOwnFlat$ | async) === false">
      <div class="sticky top-24">
        <tui-island>
          <tui-input-date-range
            [(ngModel)]="reservation.dates"
            (ngModelChange)="loadOwnFlats()"
            [disabledItemHandler]="isDateDisabled"
            name="dates"
            class="w-full"
          >
            Заезд - Отъезд
            <input tuiTextfield />
          </tui-input-date-range>

          <tui-checkbox-labeled [(ngModel)]="reservation.shared" (ngModelChange)="loadOwnFlats()" size="l" class="mt-4">
            Обмен
          </tui-checkbox-labeled>

          <div *ngIf="reservation.shared && !ownFlatsLoading" class="mt-3">
            <tui-select
              *ngIf="ownFlats.length; else noFlatsAvailable"
              [(ngModel)]="reservation.sharedFlat"
              [valueContent]="flatContent"
            >
              Выберите квартиру для обмена
              <tui-data-list-wrapper
                *tuiDataList
                [items]="ownFlats"
                [itemContent]="flatContentFull"
              ></tui-data-list-wrapper>
            </tui-select>

            <ng-template #noFlatsAvailable>
              <div class="text-red-400">У вас нет доступных квартир для обмена на выбранные даты</div>
            </ng-template>
            <ng-template #flatContent let-myFlat>
              <div class="font-bold">{{ myFlat.name }}</div>
            </ng-template>
            <ng-template #flatContentFull let-myFlat>
              <div class="flex gap-3">
                <div *ngIf="myFlat?.photos[0]" class="w-20 flex items-center">
                  <img src="/api/photos/flat/{{ myFlat.id }}/{{ myFlat?.photos[0] }}" class="w-full rounded" />
                </div>
                <div class="flex flex-1 justify-center flex-col">
                  <div class="font-bold">{{ myFlat.name }}</div>
                  <div class="text-gray-500">{{ myFlat.city.name }}, {{ myFlat.address }}</div>
                </div>
              </div>
            </ng-template>
          </div>

          <div *ngIf="reservation.dates" class="mt-4">
            <div class="font-bold text-xl">Итого</div>
            <div class="flex items-center justify-between">
              <div>Суток: {{ getReservationDaysCount() }}</div>
              <div *ngIf="!reservation.shared" class="text-lg font-bold">
                {{ getReservationDaysCount() * flat.price | number }}
              </div>
            </div>
          </div>

          <div class="mt-6">
            <button
              *ngIf="user$ | async; else loginButton"
              [disabled]="!reservation.dates || (reservation.shared && !reservation.sharedFlat)"
              tuiButton
              type="button"
              class="w-full"
              (click)="reserve()"
            >
              {{ reservation.dates ? 'Забронировать' : 'Выберите даты' }}
            </button>

            <ng-template #loginButton>
              <sf-login-button #logBtn>
                <button tuiButton type="button" icon="tuiIconLogIn" class="w-full" (click)="logBtn.showDialog()">
                  Войти для бронирования
                </button>
              </sf-login-button>
            </ng-template>
          </div>
        </tui-island>
      </div>
    </div>
  </div>
</ng-container>
