<ng-container *ngIf="flat$ | async as flat">
  <h1 class="tui-text_h1">{{ flat.name }}</h1>

  <div class="mt-3">
    <div class="flex items-center">
      <tui-svg src="tuiIconStar" class="icon text-blue-400"></tui-svg>
      <div class="font-bold">{{ reviewsRating$ | async | number : '.0-1' }}</div>
      <div class="ml-4">Отзывов: {{ reviewsCount$ | async | number }}</div>

      <tui-svg src="tuiIconHome" class="icon text-blue-400 ml-6"></tui-svg>
      <div>{{ flat.address }}</div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-2 mt-10">
    <div class="col-span-2">
      <tui-carousel [draggable]="true" [(index)]="imageIndex" class="-mx-5">
        <ng-container *ngFor="let photo of flat.photos; let i = index">
          <img
            *tuiItem
            draggable="false"
            src="/api/photos/flat/{{ flat.id }}/{{ photo }}"
            class="h-full object-cover rounded-xl aspect-video"
            [class.item_active]="i === imageIndex + 1"
          />
        </ng-container>
      </tui-carousel>

      <tui-pagination size="s" class="my-4" [length]="flat.photos.length" [(index)]="imageIndex"></tui-pagination>

      <tui-island class="mt-5">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconClipboard" class="icon text-blue-400"></tui-svg>Описание
        </h3>

        <div class="flex gap-x-10">
          <div>
            <div class="font-semibold">Площадь</div>
            <div>{{ flat.square | number }} м²</div>
          </div>
          <div>
            <div class="font-semibold">Кол-во комнат</div>
            <div>{{ flat.rooms | number }}</div>
          </div>
          <div>
            <div class="font-semibold">Этаж</div>
            <div>{{ flat.floor }} из {{ flat.floors }}</div>
          </div>
          <div>
            <div class="font-semibold">Гостей</div>
            <div>до {{ flat.guests | number }}</div>
          </div>
        </div>
        <p class="tui-island__paragraph mt-4">{{ flat.description }}</p>
      </tui-island>

      <tui-island class="mt-5">
        <h3 class="tui-island__title flex items-center">
          <tui-svg src="tuiIconWifi" class="icon text-blue-400"></tui-svg>Основные удобства
        </h3>
        <div class="grid grid-cols-2 gap-y-3">
          <div *ngFor="let prop of flat.propertyValues">{{ prop.property.name }}</div>
        </div>
      </tui-island>
    </div>
    <div>
      <div class="sticky top-24">
        <tui-island class="h-60 bg-slate-400"></tui-island>
      </div>
    </div>
  </div>
</ng-container>
